[Unit]
Description=Display Control
# When systemd stops or restarts the app.service, the action is propagated to this unit
PartOf=jukebox4kids.service
# Start this unit after the app.service start
After=jukebox4kids.service

[Service]
# Pretend that the component is running
ExecStart=/usr/bin/python display.py
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, S$
#Restart=on-failure
WorkingDirectory=/opt/Jukebox4Kids/

[Install]
# This unit should start when app.service is starting
WantedBy=jukebox4kids.service

