[Unit]
Description=Volume Control
# When systemd stops or restarts the app.service, the action is propagated to this unit
PartOf=jukebox4kids.service
# Start this unit after the app.service start
After=jukebox4kids.service

[Service]
Environment=PYTHONUNBUFFERED=true
# Pretend that the component is running
ExecStart=/usr/bin/python volume-control.py
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, S$
#Restart=on-failure
WorkingDirectory=/opt/Jukebox4Kids/
WatchdogSec=30s
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=reboot-force

[Install]
# This unit should start when app.service is starting
WantedBy=jukebox4kids.service
